/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #dd0031;
  --accent-color: #ffe6e6;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
}
